* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 20pt;
    font-size: 14px;
    background-color: #1d1e26;
    font-family: 'Roboto', Sans-Serif;
    background-image: url(./gfx/background.jpg);
    background-position: top center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

#header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20pt;
    margin-bottom: 20pt;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20pt;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10pt;
}

form .selections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10pt;
}

#add-form {
    background: radial-gradient(circle at 0% 0%, #f05133, #c52b25 51%, #ac2623);
}

.card {
    position: relative;
    width: auto;
    height: auto;
    padding: 20pt;
    margin: 0;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

h1 {
    background-image: url(./gfx/bounty-hunter-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 200px;
}

h2 {
    font-family: 'Poller One', cursive;
    font-size: 18pt;
    margin-bottom: 10pt;
    text-transform: uppercase;
    color: #f05133;
}

p {
    font-size: 16pt;
}

.jedi {
    /* background: radial-gradient(circle at 0% 0%, #ffffff, #dfdfdf 51%, #b0b0b0); */
    color: #1d1e26 !important;
    background: whitesmoke;
}

.sith {
    /* background: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26); */
    color: whitesmoke !important;
    background: #1d1e26;
}

/* FORM INPUTS */

input, button {
    display: inline-block;
    color: #1d1e26;
    font-family: 'Roboto', Sans-Serif;
    font-size: 15px;
    background-color: #1d1e2614;
    padding: .9em;
    border: none;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
}

.sith input {
    background-color: #ffffff0f;
    color: whitesmoke;
}

button {
    background-color: #555555;
    color: whitesmoke;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s linear;
    cursor: pointer;
}

button:hover {
    background-color: #f05133;
}

#add-form button {
    background-color: #f05133;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

input[type="radio"]:first-of-type {
    margin-left: 20px;
}

#key {
    display: grid;
    grid-template-columns: 30px 1fr 30px 1fr 30px 1fr;
    grid-gap: 20pt;
    background-color: #0000004a;
    color: whitesmoke;
}

#key .square {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#key p {
    line-height: 30px;
    font-size: 16px;
}

#key .deceased {
    background-size: auto;
}

.deceased {
    color: #787878 !important;
}

.deceased-key {
    background-color: #787878
}

.deceased h2 {
    color: #787878 !important;
}

div.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

button.delete {
    width: 45%;
    display: inline-block;
    overflow: auto;
    white-space: nowrap;
    margin: 20px 5% 0 0;
}

button.edit {
    width: 45%;
    display: inline-block;
    overflow: auto;
    white-space: nowrap;
    margin: 20px 0 0 5%;
}

div.close-light {
    background-image: url('./gfx/icon-close.png');
    background-color: whitesmoke;
}

div.close-dark {
    background-image: url('./gfx/icon-close-light.png');
    background-color: #1d1e26;
}

.hidden {
    display: none;
}

/* RESPONSIVE OVERRIDES */

@media (max-width:560px) {
    #key {
        grid-template-columns: 30px 1fr;
    }
}

@media (min-width:550px) {
    #container {
        grid-template-columns: repeat(2, 1fr);
    }
    #header-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1100px) {
    #container {
        grid-template-columns: repeat(3, 1fr);
    }
    #header-container {
        grid-template-columns: 2fr 1fr;
        grid-gap: 40pt;
    }
}