* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', Sans-Serif;
    font-size: 16px;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 4vw;
    color: black;
}

.form-container {
    margin: 20pt 20pt 0 20pt;
}

.badge-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20pt;
}

.badge-container>div {
    margin: 20pt;
}

.badge {
    border-radius: 13pt;
    border: 5px solid #30a7f9;
    background-color: white;
    max-width: 490pt;
    margin: auto;
    color: #666666;
    -webkit-box-shadow: 0px 0px 5px 0px #a2a2a2;
    -moz-box-shadow: 0px 0px 5px 0px #a2a2a2;
    box-shadow: 0px 0px 5px 0px #a2a2a2;
}

.badge a {
    color: #30a7f9;
}

.badge .header {
    background-image: url("./images/hello-my-name-is.png");
    background-position: center;
    background-size: contain;
    background-color: #30a7f9;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100pt;
    width: auto;
    margin-bottom: 15pt;
}
.badge .row {
    margin: 0 20pt;
}

.form-container .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20pt;
    margin: 10pt 20pt;
}
.form-container .wide {
    grid-template-columns: 1fr;
}

.badge-container .header {
    height: 60pt;
}

input,
textarea,
button {
    width: 100%;
    padding: 5pt;
    font-size: 14pt;
    font-family: 'Roboto', Sans-Serif;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

button {
    background-color: black;
    border: none;
    border-radius: 5pt;
    color: white;
    width: 150pt;
    cursor: pointer;
    letter-spacing: 1pt;
    margin-bottom: 20pt;
    -webkit-box-shadow: 0px 0px 5px 0px #a2a2a2;
    -moz-box-shadow: 0px 0px 5px 0px #a2a2a2;
    box-shadow: 0px 0px 5px 0px #a2a2a2;
}

button:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button:disabled {
    background-color: gray;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: auto;
}

.bg-color-red {
    border: 5px solid #e1070d;
}
.bg-color-orange {
    border: 5px solid #ed5f14;
}
.bg-color-yellow {
    border: 5px solid #f4b234;
}
.bg-color-green {
    border: 5px solid #7cc403;
}
.bg-color-turquoise {
    border: 5px solid #1ccce4;
}
.hdr-color-red {
    background-color: #e1070d !important;
}
.hdr-color-orange {
    background-color: #ed5f14 !important;
}
.hdr-color-yellow {
    background-color: #f4b234 !important;
}
.hdr-color-green {
    background-color: #7cc403 !important;
}
.hdr-color-turquoise {
    background-color: #1ccce4 !important;
}

@media (max-width: 1000px) {
    .badge-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20pt;
    }
}

@media (max-width: 600px) {
    .badge-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20pt;
    }
    .form-container .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20pt;
        margin: 0 20pt;
    }
    input, textarea {
        margin: 5pt 0;
    
    }
}