* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

div {
    width: 100px;
    height: 100vh;
    position: relative;
    display: flex;
    align-content: center center;
}

h1 {

}