* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

header {
    position: relative;
    height: 500px;
    background-image: url("./images/header-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: white;
}

.outer-block {
    position: relative;
    padding: 20pt 40pt;
}

.inner-block {
    position: relative;
    background-color: #00000043;
    margin: 60pt 0pt;
    padding: 20pt;
    border: 5px solid white;
}

h1 {
    color: white;
    letter-spacing: 3pt;
    font-size: calc(3vmin + 3vmax);
    font-weight: 300;
    text-align: center;
    margin-bottom: 10pt;
}

.strapline {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3pt;
    font-size: calc(2vmin + 1vmax);
}

svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}

img {
    width: 100%;
}

main {
    position: relative;
    columns: 200pt;
    column-gap: 20pt; 
    margin: -100pt 40pt 40pt 40pt;
}

article {
    overflow: hidden;
    border-radius: 10pt;
    /* border: 1px solid white; */
    background: white;
    break-inside: avoid-column;
    margin-bottom: 20pt; 
    -webkit-box-shadow: 0px 0px 5px 0px rgba(177, 177, 177, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(177, 177, 177, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(177, 177, 177, 0.5);
}

article h3 {
    margin: 10pt;
    color: #d71d02;
    text-transform: uppercase;
}

article p {
    margin: 10pt;

}

footer {}

nav {
    position: fixed;
    background-color: black;
    min-height: 40pt;
    z-index: 100;
}

nav #hamburger {
    position: relative;
    width: 100vw;
    height: 40pt;
    background-image: url("./images/hamburger-red.png");
    background-repeat: no-repeat;
    background-size: 20pt 20pt;
    background-position: 10pt 10pt;

}

nav #hamburger p.burger-title {
    font-size: 16pt;
    color: white;
    padding: 10pt 10pt 0pt 40pt;
    text-align: left;
    
}

#menu {
    display: none; /* changes to display: flex when menu activated */
    list-style: none;
    flex-direction: column;
    font-size: 20pt;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease;
    border-top: 5px solid transparent;
    border-bottom: 25px solid transparent;
}

nav li {
    letter-spacing: 3pt;
    border: 15px solid transparent;
}

nav li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav li a:hover {
    transition: all 0.3s ease;
    color: #d71d02;
}

@media (min-width: 550pt){
    
}
