RewriteEngine On
RewriteBase /demos/cocktail-royale-vschool/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /demos/cocktail-royale-vschool/index.html [L]
