#welcome {
    position: fixed;
    background-image: url("./gfx/cocktail-royale-pink.png");
    background-color: #660033;
    left: 0;
    top: 0;
    z-index: 3000;
    background-repeat: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: welcomeAnimation;
    animation-name: welcomeAnimation;
}

@keyframes welcomeAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes welcomeAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes welcomeAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes welcomeAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

a {
    color: #e91e63;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.blue, .pink {
    color: #e91e63 !important;
    transition: all 0.5s ease;
}

.tiny-button {
    background-color: #e91e63 !important;
}

body {
    background-color: #660033;
    transition: background-color 0.5s ease;
}

h1, h2, h3 {
    color: white;
    font-weight: 200;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 42px;
    text-align: center;
}

h1 {
    margin-bottom: 3rem;
}

#search-results > h2 {
    color: e91e63;
    text-transform: capitalize;
    font-family: 'Open Sans', Sans-Serif;
    font-size: 20px !important;
}

.theme-picker {
    position: absolute;
    z-index: 4000;
    right: 0;
    top: 0;
    float: none !important;
}

.glow {
    transition: text-shadow 0.5s ease;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.textshadow {
    text-shadow: #660033 1px 1px 0;
}

h2 {
    font-size: 32px;
}

.card h2 {
    font-size: 18px;
    color: whitesmoke;
    text-align: center;
    margin: 0;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.card {
    cursor: pointer;
    width: 100%;
}

p, blockquote, li, label {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 200;
    font-family: 'Open Sans', Sans-Serif;
    font-size: 15px;
}

/* Navbar Overrides */

.tabs {
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Open Sans', Sans-Serif;
}

.tabs .tab a {
    font-weight: bold;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer !important;
    font-size: 30px;
}

.tabs .tab a:focus {
    border-bottom: 3px solid #ffffff;
    outline: none;
}

.tabs .tab a:hover {
    border-bottom: 3px solid #ffffff77;
    background-color: #e91e621b;
    outline: none;
}

.tabs .tab#logo div {
    background-image: url("./gfx/cocktail-royale-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 138px;
}

.tabs .tab#logo a:focus {
    border-bottom: inherit;
    outline: none;
}

.tabs .tab#logo a:hover {
    border-bottom: none;
    background-color: #e91e621b;
    outline: none;
}

/* FORM FIELDS */

/* Search Area */

#search-container {
    background-color: rgba(0, 0, 0, 0.5);
}

.select-wrapper {
    position: relative;
    margin-top: 0.5rem;
}

.select-wrapper .caret {
    color: #e91e63;
    margin-top: 1rem;
}

.select-wrapper input.select-dropdown, input[type=text]:not(.browser-default) {
    color: #ffffffb1;
    font-weight: 300;
    border-bottom: 1px solid #ad1457 !important;
}

.select-dropdown li span {
    color: white;
    background-color: #880e4f;
}

.button-wrapper {
    padding-top: 1.5rem !important
}

.search-wrapper {
    position: relative;
    margin-top: 1rem;
}

.search-padding {
    margin-top: 1rem;
}

.input-field {
    position: relative;
    margin-top: 0;
    margin-bottom: 1rem;
}

#no-search-results {
    text-align: center;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffffb1 !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffffb1 !important;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffffb1 !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffffb1 !important;
}

/* RESULTS STYLING */

.drink-item>div {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
}

/* COCKTAIL DETALS PAGE OVERRIDES */

#drink-detail .main-image img {
    width: 100%;
    height: auto;
    border: 10px solid white;
    margin-bottom: 2rem;
}

#drink-detail h2 {
    color: #e91e63;
    margin-top: 0;
}

#ingredients {
    text-align: center;
}

#ingredients img {
    width: 100%;
    height: auto;
}

#instructions {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#instructions h2 {
    font-size: 32px;
    margin: 2rem 0 1rem 0;
}

#instructions h2:first-child {
    margin-top: 0;
}

#instructions.card {
    cursor: default;
}

/* //////////////////////////////////////////////////////////////////////////////////*/

/* OVERRIDES FOR BLUE THEME /////////////////////////////////////////////////////////*/

.blue-theme #welcome {
    background-image: url("./gfx/cocktail-royale-blue.png");
    background-color: #1a237e;
}

.blue-theme a, .blue-theme .pink-text {
    color: #03a9f4 !important;
}

.blue-theme .blue, .blue-theme .pink, .blue-theme #search-results > h2 {
    color: #03a9f4 !important;
}

.blue-theme .tiny-button {
    background-color: #03a9f4 !important;
}

body.blue-theme {
    background-color: #1a237e;
}

.blue-theme .glow {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #03a9f4 0px 0px 20px, #03a9f4 0px 0px 30px, #03a9f4 0px 0px 40px, #03a9f4 0px 0px 50px, #03a9f4 0px 0px 75px;
}

.blue-theme .textshadow {
    text-shadow: #1a237e 1px 1px 0;
}

.blue-theme .tabs .tab a:hover {
    background-color: #401ee91b;
}

.blue-theme .tabs .tab#logo a:hover {
    background-color: #401ee91b;
}

.blue-theme .select-wrapper .caret {
    color: #2196f3;
}

.blue-theme .select-wrapper input.select-dropdown, .blue-theme input[type=text]:not(.browser-default) {
    border-bottom: 1px solid #0d47a1 !important;
}

.blue-theme .select-dropdown li span {
    background-color: #283593;
}

/* RESULTS STYLING */

.blue-theme #drink-detail h2 {
    color: #2196f3;
}

/* removes load overlay after css finishes loading to avoid FOUC //////////////////////////////*/

#loadOverlay2 {
    display: none;
}

.hidden {
    display: none !important;
    z-index: 0;
}