* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', Serif;
    font-size: 14px;
    background-color: whitesmoke;
}

.container {
    margin: auto;
    width: auto;
    text-align: center;
}

h1 {
    font-family: 'Lora', Serif;
    font-size: 26pt;
}

form {
    margin: 50pt 50pt 0 50pt;
    border: 1px solid black;
    width: 350pt;
    padding: 20pt;
    border-bottom: none;
    background-color: white;
    display: inline-block
}

input {
    width: 200pt;
}
input,
button {
    border: 1px solid #4CAF50;
    padding: 16pt;
    margin: 4pt 0;
    font-size: 12pt;
    text-decoration: none;
    font-family: 'Roboto', Sans-Serif;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 100pt;
}

button:focus {outline:0;}

.name-list {
    background-color: rgba(76, 175, 79, 0.427);
    margin: 0 50pt 50pt 50pt;
    padding: 20pt;
    width: 350pt;
    border: 1px solid black;
    border-top: none;
    display: inline-block;
    text-align: left;
}

input[type=radio], input[type=checkbox] {
    
  }