* {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 120%;
    box-sizing: border-box;
}
body {
    margin: 50px;
    color: darkslategray;
}
h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid darkslategray;
}
h2 {
    font-size: 20px;
}
section {
    width: 33.3%;
    float: left;
    border: 20px solid #ffffff;
}

.flag {
    border: 1px solid black;
    height: 0;
    position: relative;
    padding-top: 60%;
}



/* Reusable Flag Elements */
.expanse {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.tiny-expanse {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 0;
}
.tiny-flag {
    height: 0;
    position: relative;
    padding-top: 60%;

}

.col-33 {
    width: 33.3%;
    float: left;
    height: 100%;
}
.row-33 {
    height: 33.3%;
    float: left;
    width: 100%;
}
.col-50 {
    width: 50%;
    height: 100%;
    float: left;
}
.row-50 {
    height: 50%;
    width: 100%;
    float: left;
}

.black {
    background-color: black;
}
.red {
    background-color: #DD0000;
}
.yellow {
    background-color: #FFCE00;
}
.white {
    background-color: white;
}
.blue {
    background-color: blue;
}
.green {
    background-color: #007E3A;
}
.swedish-blue {
    background-color: #006aa7;
}
.swedish-yellow {
    background-color: #fecc00;
}
.gambia-red {
    background-color: #D52B1E;
}
.gambia-blue {
    background-color: #0C1C8C;
}
.gambia-green {
    background-color: #3A7728;
}
.france-blue {
    background-color: #002395;
}
.france-red {
    background-color: #ED2939;
}
.tonga-red {
    background-color: #C10000;
}
.japan-red {
    background-color: #BC002D;
}
.greece-blue {
    background-color: #0D5EAF;
}


/* Flag Specific */
#france {
}
#germany {
}
#madagascar {
}
#switzerland .cross-vert, #tonga .cross-vert {
    width: 15%;
    height: 70%;
    margin-top: 9%;
    margin-left: 42.5%;
}
#switzerland .cross-horiz, #tonga .cross-horiz {
    height: 23%;
    width: 43%;
    margin-left: 29%;
    margin-top: -29%;
}
#sweden .cross-vert {
    width: 15%;
    height: 100%;
    margin-left: 25%;
}
#sweden .cross-horiz {
    height: 23%;
    width: 100%;
    margin: -38% 0;
}
#gambia .gambia-blue {
    height: 23.3%;
    margin: 3% 0;
}
#japan .circle {
    background: #BC002D;
    width: 40%;
    height: 65%;
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 50%;
}
#greece .row-greece-11 {
    height: 11.1%;
    width: 100%;
}
#greece .row-greece-22 {
    height: 22.2%;
    width: 100%;
}
#greece .square {
    position: absolute;
    left: 0;
    top: 0;
    height: 55.5%;
    width: 36%;
}
#greece .cross-vert {
    width: 20%;
    height: 100%;
    margin-left: 40%;
}
#greece .cross-horiz {
    height: 20%;
    width: 100%;
    margin: -56% 0;
}

#niger {
}
#maldives {
}