* {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 120%;
    box-sizing: border-box;
}
body {
    margin: 50px;
    color: darkslategray;
}
h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid darkslategray;
}
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
section {
    width: 33.3%;
    float: left;
    border: 20px solid white;
}
footer {
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
    padding-top: 50px;
    border-top: 1px solid darkslategray;
}
a {
    color: darkslategray;
}
.flag {
    border: 1px solid white;
    height: 0;
    position: relative;
    padding-top: 60%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

/* Reusable Flag Elements */
.expanse {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.tiny-expanse {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 0;
}
.tiny-flag {
    height: 0;
    position: relative;
    padding-top: 60%;

}
.col-33 {
    width: 33.3%;
    float: left;
    height: 100%;
}
.row-33 {
    height: 33.3%;
    float: left;
    width: 100%;
}
.col-50 {
    width: 50%;
    height: 100%;
    float: left;
}
.row-50 {
    height: 50%;
    width: 100%;
    float: left;
}
.row-skinny {
    height: 10%;
    float: left;
    width: 100%;
}
.row-fat {
    height: 80%;
    float: left;
    width: 100%;
}
.black {
    background-color: black;
}
.red {
    background-color: #DD0000;
}
.swiss-red {
    background-color: #D52B1E;
}
.yellow {
    background-color: #FFCE00;
}
.white {
    background-color: white;
}
.blue {
    background-color: blue;
}
.green {
    background-color: #007E3A;
}
.swedish-blue {
    background-color: #006aa7;
}
.swedish-yellow {
    background-color: #fecc00;
}
.gambia-red {
    background-color: #D52B1E;
}
.gambia-blue {
    background-color: #0C1C8C;
}
.gambia-green {
    background-color: #3A7728;
}
.france-blue {
    background-color: #002395;
}
.france-red {
    background-color: #ED2939;
}
.tonga-red {
    background-color: #C10000;
}
.japan-red {
    background-color: #BC002D;
}
.greece-blue {
    background-color: #0D5EAF;
}
.niger-orange {
    background-color: #E05206;
}
.niger-green {
    background-color: #0DB02B;
}
.maldives-red {
    background-color: #D21034;
}
.maldives-green {
    background-color: #007E3A;
}
.belize-red {
    background-color: #CE1126;
}
.belize-blue {
    background-color: #003F87;
}

/* Flag Specific */
#madagascar .left {
    width: 34%;
    height: 100%;
    float: left;
}
#madagascar .right {
    width: 66%;
    height: 100%;
    float: left;
}
#switzerland .cross-vert, #tonga .cross-vert {
    width: 15%;
    height: 70%;
    margin-top: 9%;
    margin-left: 42.5%;
}
#switzerland .cross-horiz, #tonga .cross-horiz {
    height: 23%;
    width: 43%;
    margin-left: 29%;
    margin-top: -29%;
}
#sweden .cross-vert {
    width: 15%;
    height: 100%;
    margin-left: 25%;
}
#sweden .cross-horiz {
    height: 23%;
    width: 100%;
    margin: -38% 0;
}
#gambia .gambia-blue {
    height: 24%;
    margin: 3% 0;
}
#japan .circle {
    background: #BC002D;
    width: 40%;
    height: 65%;
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 50%;
}
#greece .row-greece-11 {
    height: 11.1%;
    width: 100%;
}
#greece .row-greece-11-last {
    height: 11.8%;
}
#greece .row-greece-22 {
    height: 22.2%;
    width: 100%;
}
#greece .square {
    position: absolute;
    left: 0;
    top: 0;
    height: 55.5%;
    width: 36%;
}
#greece .cross-vert {
    width: 20%;
    height: 100%;
    margin-left: 40%;
}
#greece .cross-horiz {
    height: 20%;
    width: 100%;
    margin: -56% 0;
}
#niger .circle {
    background: #E05206;
    width: 15%;
    height: 69%;
    margin-top: 3%;
    margin-left: 42%;
    border-radius: 50%;
}
#maldives .expanse {
    margin-top: 16%;
    margin-left: 24%;
    height: 50%;
    width: 50%;
}
#maldives .circle-white {
    background: white;
    width: 50%;
    height: 80%;
    margin-top: 6%;
    margin-left: 34%;
    border-radius: 50%;
}
#maldives .circle-green {
    background: #007E3A;
    width: 50%;
    height: 80%;
    margin-top: -48%;
    margin-left: 44%;
    border-radius: 50%;
}
#belize .circle {
    background: url("belize-flag.svg") no-repeat center;
    background-size: 230%;
    width: 45%;
    height: 88%;
    margin-top: 3%;
    margin-left: 27%;
    border-radius: 50%;
}