* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1, h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
}


.top-header {
    position: relative;
    color: #aaa;
    background-color: #222;
    height: 100pt;
    padding: 50pt 100pt;
}
.top-header:after {
    position: absolute;
    top: 100pt;
    width: 100%;
    height: 15px;
    background: url("./images/border-edge.png");
    content: '';
    z-index: 1;
    margin-left: -100pt;
}
header {
    position: relative;
    background-color: #efb600;
    width: 100%;
    z-index: 2;
    padding: 25pt;
}

header h1 {
    position: relative;
    background-image: url("./images/logo.png");
    background-repeat: none;
    background-size: cover;
    height: 43px;
    width: 197px;
}

nav {}

nav ul, footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li, footer ul li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin: 0 15pt;
    height: 30px;
    color: #ffffff;
}
nav ul li:after, footer ul li:after {
    border-right: 2px solid #333333;
}
nav ul li:first-of-type {
    margin-left: 0;
}
footer ul li:last-of-type {
    margin-right: 0;
}

nav a, footer a {
    color: #333333;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    
}


.main-content {
    position: relative;
    min-height: 200pt;
}

main {
    position: relative;
    float: left;
}



main .pic-1 {
    position: relative;
    float: left;
    background-image: url("./images/parallax.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #00000029;
    width: 100vw;
}

main .pic-2 {
    position: relative;
    float: left;
    background-image: url("./images/parallax-2.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #00000029;
    width: 100vw;
}

main .pic-3 {
    position: relative;
    float: left;
    background-image: url("./images/parallax-3.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #00000029;
    width: 100vw;
}
footer {
    position: relative;
    clear: both;
    background-color: #222;
    height: auto;
    padding: 25pt;
    text-align: right;
}

footer div {
    color: white;
}

footer a {
    color: #efb600;
}
footer>div {
    margin: 0 0 10pt 0;
}

.no-display {
    display: none;
}
.home {
    position: relative;
    margin: 120pt 100pt 0 100pt; 
    text-align: center;
}
.home h1, h2 {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding: 20pt;
}
.home h2 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
.home button {
    color: #efb600;
    background-color: black;
    padding: 10pt 30pt;
    font-size: 15pt;
    border: 2px solid #efb600;
    margin-bottom: 50pt;
}