* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    margin: 20pt;
    background-color: whitesmoke;
}

h1 {
    margin-bottom: 20pt;
}

.container {
    position: relative;
    column-gap: 20pt;
    margin: auto;
}

.pokemon { 
    background: white;
    margin-bottom: 20pt; 
    padding: 20pt;
    width: 200pt;
    float: left;
    margin-right: 20pt;
    -webkit-box-shadow: 0px 0px 5px 0px blackrgba(177, 177, 177, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(177, 177, 177, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(177, 177, 177, 0.5);
}